---
import { Debug } from "astro:components";
import Layout from "../../layouts/Layout.astro";
import type {
  FilmsResponse,
  PersonnesResponse,
  RolesResponse,
} from "../../pocketbase-typegen";
import LinkFilm from "../../components/LinkFilm.astro";
export const prerender = false;
const id = Astro.params.id;
const personne = await Astro.locals.pb
  .collection<
    PersonnesResponse<{
      films_via_producteur?: FilmsResponse[];
      films_via_scenaristes?: FilmsResponse[];
      roles_via_acteur?: RolesResponse<{ films_via_role: FilmsResponse[] }>[];
    }>
  >("personnes")
  .getOne(id!, {
    expand:
      "films_via_producteur, films_via_scenaristes, roles_via_acteur.films_via_role",
  });
---

<Layout pageTitle="Liste des personnes">
  <div>
    <h2>Personne : {personne.nom}</h2>

    {
      personne.expand?.roles_via_acteur && (
        <p>
          Rôles joués : {""}
          {personne.expand?.roles_via_acteur?.map((f) => (
            <>
              <span>{f.nom + " joué dans : "}</span>
              {f.expand?.films_via_role && (
                <LinkFilm {...f.expand.films_via_role[0]} />
              )}
            </>
          ))}
        </p>
      )
    }

    {
      personne.expand?.films_via_producteur && (
        <p>
          Les films où il est producteur :{" "}
          {personne.expand?.films_via_producteur.map((f) => (
            <span>{f.titre + ", "}</span>
          ))}
        </p>
      )
    }
    {
      personne.expand?.films_via_scenaristes && (
        <p>
          Les films où il est scenariste :{" "}
          {personne.expand?.films_via_scenaristes.map((f) => (
            <span>{f.titre + ", "}</span>
          ))}
        </p>
      )
    }
  </div>
</Layout>