---
import Layout from "../layouts/Layout.astro";

---

<Layout pageTitle="Authentification avec Github">
    <button id="connectGit">
        Se connecter avec Github
    </button>
</Layout>

<script>
    import { pb } from '../backend';
    
    document.querySelector('#connectGit')?.addEventListener('click', async () => {
        console.log(pb);
        const authData = await pb.collection('users').authWithOAuth2({ provider: 'github' });
        document.cookie = pb.authStore.exportToCookie({httpOnly: false});
        document.location.href = '/auth-password';
    });
</script>
