---
import Layout from "../layouts/Layout.astro";

export const prerender = false;

const pb = Astro.locals.pb;
if (Astro.request.method === "POST") {
const data = await Astro.request.formData();
if (data.has("deconnexion")){
    Astro.locals.pb.authStore.clear();
    Astro.response.headers.append("set-cookie", Astro.locals.pb.authStore.exportToCookie());
}
  try {
    const name = data.get("username");
    const email = data.get("email") as string;
    const password = data.get("password") as string;
    console.log({name, email, password});
    await Astro.locals.pb.collection("users").authWithPassword(email, password);
    Astro.response.headers.append("set-cookie", Astro.locals.pb.authStore.exportToCookie());
    // Faire quelque chose avec les données
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout pageTitle="Authentification">
    {
        Astro.locals.pb.authStore.isValid ? (
        <p>Est connecté</p>
        <form method="post">
            <input type="hidden" value="1" name="deconnexion" />
            <button>Se déconnecter</button>
        </form>
        ) : (
            <form method="post">
                <div>
                    <label for="username">Nom d'utilisateur :</label>
                    <input type="text" id="username" name="username" >
                </div>
                <div>
                    <label for="email">E-mail :</label>
                    <input type="email" id="email" name="email" >
                </div>
                <div>
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="password" >
                </div>
                <div>
                    <button>Se connecter</button>
                </div>
            </form>
        )
    }
</Layout>